@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: white;
}
.img-principal{
  background-image: url(https://i.pinimg.com/564x/ad/f6/ae/adf6aef0785eb56ac6bbd828788bef1e.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  /* height: 2000px; */
  background-attachment: fixed;
  background-size:cover;
}
/* Navbar*/
 nav .btn{
    border: 2px solid #FF4365;
    color: #FF4365;
 }

nav,
aside,
footer,
.list-group-item,
footer {
  background-color: #2e294e;
  color: white;
}

footer h5 {
  color: white;
  font-weight: 500;
}

a,
li,
h5 {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ff4365;
}

.nav-link {
  color: white;
}

#imgLogo {
  object-fit: contain;
}

.tituloAside {
  font-weight: 700;
  font-size: larger;
}
.Banner-index{
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.CorregirImg{
  height: 100%;
    object-fit: cover;
}
.color-tarjeta{
  background-color: #05a2ad ;
}
.padding-tarjetas{
  padding-left: 150px;
  padding-right: 150px;
}
.bg-fila-canciones{
  background: rgba(0, 0, 0, 0.064);
}
.color-texto{
  color: whitesmoke;
}
.bg-dark-transparencia{
  background-color: rgba(0, 0, 0, 0.395);
}
.bg-artista-transparencia{
  background-color: rgba(0, 0, 0, 0.619);
}
.cardsEfect{
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  cursor: default;
  transition:  all 400ms ease;
  /* background-color: #05a1ad ; */
  background-color: #44739000;
}
.padding-boton{
  padding-left: 150px;
  padding-right: 150px;
}
.padding-300{
  padding-top: 180px;
  padding-bottom: 180px;
}
.cardsEfect:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  transform: translateY(-3%);
  /* background-color: #FF4265; */
  background-color: #5a4c6e6b;
}
/* celulares */
@media all and (max-width: 768px){

  .sm-none {
    display: none;
  }
  .padding-tarjetas{
    padding-left: 50px;
    padding-right: 50px;
  }
  .Banner-index {
    height: 180px;
    object-fit: cover;
  }
}

/* tablets */
@media all and (min-width: 769px) and (max-width: 991px)
{
 .md-none{
   display: none;
 }

}