@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: white;
}

/* Navbar y footer*/

nav .btn {
  border: 2px solid #ff4365;
  color: #ff4365;
}

nav .btn:hover {
  border: 2px solid #05a1ad;
  color: #05a1ad;
}

nav,
.offcanvasLista,
footer,
#offcanvasExplorar {
  background-color: #2e294e;
  color: white;
  border: 0;
}

#navDropdown {
  background-color: #05a1ad;
}

#navDropdown a:hover {
  background-color: #05a1ad;
  color: #ff4365;
}

footer h5 {
  color: white;
  font-weight: 500;
}

.offcanvasLista a,
footer a,
.navLista {
  color: white;
  text-decoration: none;
}

.offcanvasLista a:hover,
footer a:hover,
.navLista:hover {
  color: #ff4365;
}

.navLista.active {
  color: #05a1ad !important;
}

#imgLogo {
  object-fit: contain;
}

.offcanvasListaTitulo {
  font-weight: 700;
  font-size: larger;
}
.offcanvasListaSubTitulo {
  font-weight: 700;
  font-size: 30px;
}

#offcanvasLabel {
  font-size: xx-large;
  font-weight: 700;
  color: #ff4365;
}

/* Main ADN*/

.fondoCeleste {
  background-color: #006d77;
}
/* Pagina principal */

.img-principal {
  background-image: url(../img/fondoPrincipal/imagen4.jpg);
  /* https://i.pinimg.com/564x/ad/f6/ae/adf6aef0785eb56ac6bbd828788bef1e.jpg */
  background-repeat: no-repeat;
  background-position: center center;
  /* height: 2000px; */
  background-attachment: fixed;
  background-size: cover;
}

.Banner-index {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.CorregirImg {
  height: 100%;
  object-fit: cover;
}
.color-tarjeta {
  background-color: #05a2ad;
}
.color-tarjeta:hover {
  background-color: #39c1ca;
}
.padding-tarjetas {
  padding-left: 180px;
  padding-right: 180px;
}
.py-20 {
  padding-left: 200px;
  padding-right: 200px;
}
.bg-fila-canciones {
  background: rgba(0, 0, 0, 0.064);
}
.color-texto {
  color: whitesmoke;
}
.bg-dark-transparencia {
  background-color: rgba(0, 0, 0, 0.395);
}
.bg-artista-transparencia {
  background-color: rgba(0, 0, 0, 0.619);
}
.cardsEfect {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
  /* background-color: #05a1ad ; */
  background-color: #44739000;
}
.padding-boton {
  padding-left: 150px;
  padding-right: 150px;
}
.padding-300 {
  padding-top: 150px;
  padding-bottom: 150px;
}
.mss-5 {
  padding-left: 100px;
}
.cardsEfect:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
  /* background-color: #FF4265; */
  background-color: #5a4c6e6b;
}
.botonSuscribete {
  background-color: #1c1836;
}
.botonSuscribete:hover {
  background-color: #312d4f;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}
/* Celulares */
@media all and (max-width: 760px) {
  .sm-none {
    display: none;
  }
  .padding-tarjetas {
    padding-left: 50px;
    padding-right: 50px;
  }
  .padding-boton {
    padding-left: 2px;
    padding-right: 2px;
  }
  .Banner-index {
    height: 130px;
    object-fit: cover;
  }
  .py-20 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .mss-5 {
    padding-left: 5px;
  }
}
/* clase para filtrar canciones */
.filtro {
  display: none;
}
/* Tablets */
@media all and (min-width: 767px) and (max-width: 991px) {
  .md-none {
    display: none;
  }
  .Banner-index {
    height: 240px;
    object-fit: cover;
  }
  .py-20 {
    padding-left: 100px;
    padding-right: 100px;
  }
  .padding-tarjetas {
    padding-left: 80px;
    padding-right: 80px;
  }
  .mss-5 {
    padding-left: 60px;
  }
}

/* Registro */

#mainRegistro {
  background-color: #006d77;
}

#btnRegistrarme {
  border: 2px solid #ff4365;
  background-color: #2e294e;
  color: #ff4365;
}

#btnRegistrarme:hover {
  border: 2px solid #2e294e;
  background-color: #ff4365;
  color: #2e294e;
}

.formRegistro option {
  color: black;
}

/* Error 404 */

#mainError {
  background-color: #ff5555;
}

/* Acerca de nosotros */

.imgNosotros {
  object-fit: cover;
  box-shadow: 2px 2px 100px 2px #2e294e;
  border-radius: 3px;
}

.imgNosotros:hover {
  filter: grayscale(80%);
}

.divNosotros:hover {
  position: relative;
  bottom: 5px;
  right: 2px;
}

/* Administracion */
.adminFondo {
  background-color: #5d2d4e;
}

.adminBorder {
  border-color: #a6a1f0;
}

#btnCrearCancion {
  border: 2px solid #4bc6b9;
  background-color: #4e031e;
  color: #4bc6b9;
}

#btnCrearCancion:hover {
  border: 2px solid #4e031e;
  background-color: #4bc6b9;
  color: #4e031e;
}

.btnEditar {
  border: 2px solid #ffbe47;
  background-color: #4e031e;
  color: #ffbe47;
}

.btnEditar:hover {
  border: 2px solid #4e031e;
  background-color: #ffbe47;
  color: #4e031e;
}

.btnBorrar {
  border: 2px solid #ff4365;
  background-color: #4e031e;
  color: #ff4365;
}

.btnBorrar:hover {
  border: 2px solid #4e031e;
  background-color: #ff4365;
  color: #4e031e;
}

#btnAdminEnviar {
  border: 2px solid #ff4365;
  background-color: #2e294e;
  color: #ff4365;
}

#btnAdminEnviar:hover {
  border: 2px solid #2e294e;
  background-color: #ff4365;
  color: #2e294e;
}

#adminFormClose {
  background-color: #a6a1f0;
}

/* estilo para recortar valores largos en las tabla administracion */
.adminTrim {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Pagina de detalle */

#mainDetalle {
  background-color: #006d77;
}

#breadcrumb {
  background-color: #006d77;
}

#breadcrumb li {
  font-weight: 400;
  color: #2e294e;
}

#breadcrumb a {
  color: white;
  font-weight: 400;
}

#breadcrumb a:hover {
  color: #ff4365;
}

.tarjetaDetalle {
  max-height: 1000px;
  overflow: hidden;
}

.imgDetalle {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#botonReproducir {
  background-color: #ff4365;
  border: 2px solid #ff4365;
}

#botonReproducir:hover {
  background-color: #312d4f;
  border: 2px solid #ff4365;
}

@media (min-width: 992px) {
  .tarjetaDetalle {
    max-height: 270px;
  }
}
